@media (min-width: 768px) {
    .navbar-dropdown>.navbar-item:hover, .navbar-dropdown>a.navbar-item.is-active, .navbar-dropdown>a.navbar-item.is-active:hover {
        color: #000 !important;
        background-color: #FFF !important;
    }
    a.navbar-item, a.navbar-link {
        color: #FFF !important;
    }
    a.navbar-item:hover, a.navbar-item:active, a.navbar-item:active:hover, a.navbar-item.is-active,
    a.navbar-item.is-active:hover, a.navbar-link:hover, a.navbar-link:active, a.navbar-link:active:hover {
        color: #000 !important;
    }
    a.navbar-item:hover, a.navbar-link:hover {
        background-color: initial !important;
    }
    a.navbar-item.is-active:hover, a.navbar-link.is-active:hover {
        background-color: #ffd83d !important;
    }
    .navbar-dropdown.is-right {
        background-color: gray !important;
    }
    .navbar-item.has-dropdown>.navbar-link {
        background-color: #C21D2f !important;
    }
}

@media (max-width: 767px) {
    #navBurger {
        background-color: #ffd83d;
    }
    .navbar-menu {
        background-color: gray;
    }
    .navbar-item, .navbar-link {
        color: #FFF;
    }
    .navbar-start>.navbar-item:hover, .navbar-dropdown>.navbar-item:hover, .navbar-item.is-active {
        background-color: #ffd83d !important;
        color: #000 !important;
    }
    .navbar-end>.navbar-item>.navbar-link:hover {
        background-color: gray;
        color: #FFF;
    }
}