.navbar-dropdown>.navbar-item:hover, .navbar-dropdown>a.navbar-item.is-active, .navbar-dropdown>a.navbar-item.is-active:hover {
    color: #000 !important;
    background-color: #FFF !important;
}
a.navbar-item, a.navbar-link {
    color: #FFF !important;
}
a.navbar-item:hover, a.navbar-item:active, a.navbar-item:active:hover, a.navbar-item.is-active,
a.navbar-item.is-active:hover, a.navbar-link:hover, a.navbar-link:active, a.navbar-link:active:hover{
    color: #000 !important;
}
.navbar-dropdown.is-right {
    background-color: gray !important;
}